# MacOS
.DS_Store
.AppleDouble
.LSOverride

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Gradle
.gradle/
build/
*/build/
gradle-app.setting

# Kotlin
.kotlin/

# Android
local.properties
.cxx/
captures/
.externalNativeBuild/

# iOS / Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
iosApp/iosApp.xcworkspace/xcuserdata/
iosApp/iosApp.xcodeproj/xcuserdata/

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# 强制保留 gradle 目录下的所有文件（防止被上面的 *.jar 误伤）
!gradle/

# virtual machine crash logs
hs_err_pid*
replay_pid*